<p><%= @resource.name %>さんへ</p>

<p>以下のリンクにアクセスしてパスワードを変更してください</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>※このメールに心当たりがない場合、他の方がパスワードをリセットする際に誤ってお客様のメール アドレスを入力した可能性があります。</p>
<p>リクエストした覚えがない場合は、何も行わずにこのメールを破棄してください。</p>
